{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                {#<button type="submit" form="form-payment-twispay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>#}
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{#<img src="view/image/payment/twispay.png" alt="" />#}{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Transactions</h3>
                <div class="trans-filter pull-right">
                    {% if customers is not empty %}
                        <select class="trans-customers">
                            <option value="0" {% if selected=='0' %} selected="selected"{% endif %}>All Customers</option>
                            {% for customer in customers %}
                                <option value="{{ customer['customer_id'] }}" {% if selected==customer['customer_id'] %} selected="selected"{% endif %} title="{{ customer['email'] }}">{{ customer['name'] }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                {% if trans is empty %}
                    <div class="nodata">No transactions</div>
                {% else %}
                    <table class="twispay-logs" cellpading="10px" cellspacing="0" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="3" class="big-border">Website</th>
                                <th colspan="10">Twispay</th>
                            </tr>
                            <tr>
                                <th>User Id</th>
                                <th>Order Id</th>
                                <th class="big-border">Invoice Id</th>

                                <th>Customer Id</th>
                                <th>Order Id</th>
                                <th>Card Id</th>
                                <th>Transaction Id</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Date</th>
                                <th>Refund Date</th>
                                <th>Refund</th>
                            </tr>
                        </thead>
                        <tbody>

                    {% for tran in trans %}
                            <tr>
                                <td>{{ tran['identifier'] }}</td>
                                <td>{{ tran['order_id'] }}</td>
                                <td class="big-border">{{ tran['invoice'] }}</td>


                                <td>{{ tran['customerId'] }}</td>
                                <td>{{ tran['orderId'] }}</td>
                                <td>{{ tran['cardId'] }}</td>
                                <td>{{ tran['transactionId'] }}</td>
                                <td>{{ tran['status'] }}</td>
                                <td>{{ tran['amount'] }}</td>
                                <td>{{ tran['currency'] }}</td>
                                <td>{{ tran['date'] }}</td>
                                <td>{% if tran['status']=='refunded' %}{{ tran['refund_date'] }}{% endif %}</td>
                                <td>{% if tran['status']=='complete-ok' %}<i class="refund fa fa-times red" aria-hidden="true" data-transid="{{ tran['transactionId'] }}" data-orderid="{{ tran['order_id'] }}" data-store="{{ tran['store_id'] }}"></i>{% endif %}</td>

                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
                {#{{ catalog }}#}{#{{ api_token }}#}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var redir="{{ redir }}";
    var token = "{{ token }}";
    $(document).on('change','select.trans-customers',function(){
        var encoded = redir+$(this).val()+'&user_token='+token;
        var decoded = encoded.replace(/&amp;/g, '&');
        window.location.href = decoded;
    });

    $(document).on('click', 'i.refund', function(){
        var transid = $(this).attr('data-transid');
        var orderid = $(this).attr('data-orderid');
        var storeid = $(this).attr('data-store');
        var parent = $(this).parents('tr');
        var token = "{{ token }}";
        $(parent).css('opacity','0.5');
        var refund = "{{ refund }}"+'&user_token='+token;;
        setTimeout(function(){
            if(window.confirm("Are you sure you want to refund transaction #"+transid+ " ?\nProcess is not reversible !!!")){
                $(parent).css('opacity','1');
                $.ajax({
                    url: refund,
                    dataType: 'json',
                    type: 'post',
                    data: {'transid':transid, 'orderid': orderid},
                    success: function(data){
                        if(data.refunded != 1){
                            alert(data.status);
                        } else {
                                    $.ajax({
                                        url: '{{ catalog }}index.php?route=api/order/history&api_token={{ api_token }}&store_id='+storeid+'&order_id='+orderid,
                                        type: 'post',
                                        dataType: 'json',
                                        data: 'order_status_id=11&notify=1&override=1&append=1&comment='+ encodeURIComponent('Refunded Twispay transaction #'+transid),
                                        success: function(data){
                                            if(typeof data.success != 'undefined' ){
                                             alert('Successfuly refunded !');
                                            } else {
                                                alert(data.error);
                                            }
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                        }
                                    });
                                    window.location.reload();
                                }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            } else {
                $(parent).css('opacity','1');
            }
        },50);


    });


</script>

<style>
    .big-border{
        border-right: 4px solid #a7a7a7;
    }
    i.refund{
        font-size: 20px;
    }
    table.twispay-logs tr:nth-child(even) td{
        background-color: #ffffff;
    }
    table.twispay-logs tr:nth-child(odd) td{
        background-color: #f5f5f5;
    }
    table.twispay-logs td{
        text-align: center;
        padding: 4px;
    }
    table.twispay-logs th{
        text-align: center;
        padding: 4px;
    }
    .red{
        color:#dd0000;
        cursor: pointer;
    }
</style>

{{footer}}